# --- DATABASE CONFIG ---
# Sử dụng localhost nếu chạy npm run start:dev, sử dụng tên service (hotel-db) nếu chạy trong Docker
MONGO_URI=mongodb://localhost:27017/hotel_management_db
DATABASE_URL=mongodb://localhost:27017/hotel_management_db

# --- AUTHENTICATION (JWT) ---
HOTEL_ACCESS_SECRET_KEY=your_access_secret_key_here
HOTEL_REFRESH_SECRET_KEY=your_refresh_secret_key_here
HOTEL_ACCESS_EXPIRED_IN=1d
HOTEL_REFRESH_EXPIRED_IN=30d
COOKIE_NAME=dev_hotel_token

# --- MAIL CONFIG (Nodemailer) ---
MAIL_USER=your_email@gmail.com
MAIL_PASSWORD=your_app_password_here

# --- REDIS CONFIG ---
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# --- VNPAY CONFIG (Sandbox) ---
VNP_TMN_CODE=your_tmn_code_here
VNP_HASH_SECRET=your_hash_secret_here
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_API=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
VNP_RETURN_URL=http://localhost:3000/payments/vnpay-return